
.input-file-container {
    position: relative;
    width: 225px;
}
.input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: #24b5a1;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;

}
.input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}
.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
    background: #34495E;
    color: #39D2B4;
}
.file-return {
    margin: 0;
}
.file-return:not(:empty) {
    margin: 1em 0;
}
.file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}
.file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}
/* datepicker */
label{
    margin-left: 20px;
    }
.datepicker{
    width:20%;
    margin: 0 20px 20px 15px;
}
.datepicker > span:hover{
    cursor: pointer;
}

/* .choice-list, .btn-remove{
   float: left;
} */
.input-bar {
    display: table;
    width: 100%;
}

.input-bar-item {
    display: table-cell;
}

.rmChoice {
    display: table-cell;
    font-size: 30px;
    margin-left: -220px
}

.iconRm {
    margin-left: -220px
}

.width-item {
    width: 300px;
}
.input-bar-item  button {
    margin-left: 5px;
}
.addChoice{
    margin-top: 7px;
    background: #dadd06;
}
#addQuestion{
    margin-left: 190px;
    background: #dadd06;
}
.removeQuestion{
    margin-left: 400px;
    height: 40px;
    width: 80px;
    background: #211f1f;
    color: white;
}

input[type=submit]{
    background: #2b98db;
    margin-left: 300px !important;
    width: 100px !important;
    color: white;
}

#cancel {
    background: #e53434;
    color: white;
}
@media only screen and (max-width:700px){
    input[type=submit]{
        background: #2b98db;
        margin-left: 0 !important;
        width: 100px !important;
        color: white;
    }
    #addQuestion{
        margin-left: 80px !important;
        background: #dadd06;
    }
    .input-time{
        width: 150px !important;
    }
    #answerType1 {
        margin-left: -4px;
    }
}

@media (max-width: 768px) {
    .iconRm {
        margin-left: 10px;
    }
}

.rpCancel {
    margin-left: 20px;
}
.form-check-label {
    margin-left: 1px;
}